#projects.js-anchor
  %section
    .wrap
      %h2= t :projects_title

      = partial 'project', locals: { title: t(:project_business_site_title), 
        description: t(:project_business_site_description),
        browser: true, image_url: 'levelup_business.jpg' }

      = partial 'project', locals: { title: t(:project_self_enrollment_title),
        description: t(:project_self_enrollment_description),
        browser: true, image_url: 'levelup_self_enrollment.png' }

      %article.project
        .emdash-gold
        %h3= t(:project_icon_set_title)
        %p= t(:project_icon_set_description)
        .icon-wrapper
          .icon.icon-mobile-payments.icon-green
          .icon.icon-analytics.icon-green
          .icon.icon-campaigns.icon-green
          .icon.icon-platform.icon-green
          .icon.icon-app-icon.icon-green
          .icon.icon-credit-card.icon-green
          .icon.icon-scanner.icon-green
          .icon.icon-no-chargebacks.icon-green
          .icon.icon-browser.icon-green
          .icon.icon-mobile-app.icon-green
          .icon.icon-loyalty.icon-green
          .icon.icon-receipt.icon-green
          .icon.icon-profile.icon-green
          .icon.icon-support.icon-green
          .icon.icon-email-notification.icon-green
          .icon.icon-scan.icon-green
          .icon.icon-transaction-history.icon-green
          .icon.icon-fraud-protection.icon-green
          .icon.icon-gift-cards.icon-green
          .icon.icon-feedback.icon-green
          .icon.icon-payment-processing.icon-green
          .icon.icon-one-account.icon-green
          .icon.icon-email-receipt.icon-green
          .icon.icon-registration.icon-green
          .icon.icon-loyalty-migration.icon-green
          .icon.icon-ordering.icon-green
          .icon.icon-places.icon-green
          .icon.icon-menu.icon-green
          .icon.icon-refer-a-friend.icon-green
          .icon.icon-security.icon-green
          .icon.icon-plastic-cards.icon-green
          .icon.icon-faq.icon-green
          .icon.icon-tablet.icon-green
          .icon.icon-iphone.icon-green
          .icon.icon-android.icon-green
