#projects.js-anchor
  %section.bg-gray
    .wrap
      %h2= t :projects_title

      = partial 'project', locals: { title: t(:project_business_site_title),
        description: t(:project_business_site_description),
        browser: true, image_url: 'levelup_business.jpg' }

      = partial 'project', locals: { title: t(:project_self_enrollment_title),
        description: t(:project_self_enrollment_description),
        browser: true, image_url: 'levelup_self_enrollment.png' }

      = partial 'project', locals: { title: t(:project_campaign_builder_title),
        description: t(:project_campaign_builder_description),
        browser: true, image_url: 'levelup_campaign_builder.png' }

      = partial 'project', locals: { title: t(:project_interstitials_title),
        description: t(:project_interstitials_description),
        browser: true, image_url: 'levelup_interstitials.png' }

      = partial 'project', locals: { title: t(:project_campaign_claim_title),
        description: t(:project_campaign_claim_description),
        browser: true, image_url: 'levelup_campaign_claim.png' }

      = partial 'project', locals: { title: t(:project_campaigns_page_title),
        description: t(:project_campaigns_page_description),
        browser: true, image_url: 'levelup_campaigns_page.png' }

      %article.project
        .emdash-gold
        %h3= t(:project_icon_set_title)
        %p= t(:project_icon_set_description)
        .icon-wrapper
          .icon.icon-mobile-payments.icon-green
          .icon.icon-analytics.icon-bright-blue
          .icon.icon-campaigns.icon-blue
          .icon.icon-platform.icon-red
          .icon.icon-app-icon.icon-orange
          .icon.icon-credit-card.icon-green
          .icon.icon-scanner.icon-bright-blue
          .icon.icon-no-chargebacks.icon-blue
          .icon.icon-browser.icon-red
          .icon.icon-mobile-app.icon-orange
          .icon.icon-loyalty.icon-green
          .icon.icon-receipt.icon-bright-blue
          .icon.icon-profile.icon-blue
          .icon.icon-support.icon-red
          .icon.icon-email-notification.icon-orange
          .icon.icon-scan.icon-green
          .icon.icon-transaction-history.icon-bright-blue
          .icon.icon-fraud-protection.icon-blue
          .icon.icon-gift-cards.icon-red
          .icon.icon-feedback.icon-orange
          .icon.icon-payment-processing.icon-green
          .icon.icon-one-account.icon-bright-blue
          .icon.icon-email-receipt.icon-blue
          .icon.icon-registration.icon-red
          .icon.icon-loyalty-migration.icon-orange
          .icon.icon-ordering.icon-green
          .icon.icon-places.icon-bright-blue
          .icon.icon-menu.icon-blue
          .icon.icon-refer-a-friend.icon-red
          .icon.icon-security.icon-orange
          .icon.icon-plastic-cards.icon-green
          .icon.icon-faq.icon-bright-blue
          .icon.icon-tablet.icon-blue
          .icon.icon-iphone.icon-red
          .icon.icon-android.icon-orange

      .hide-mobile
        %article.project
          .emdash-gold
          %h3= t(:project_more_title)
          .center
            %p= t(:project_more_description)
            %p= link_to t(:project_more_cta), old_portfolio_url, class: 'text-link', target: '_blank'
