#about.js-anchor
  %header.bg-coral
    .wrap
      %h6.header-logo= 'Ali Aas'
      %h2.white-text= t :header_title
      %h5.white-text
        = t :header_subtitle
        = link_to 'LevelUp', 'https://www.thelevelup.com/', target: '_blank', class: 'text-link'
      .center
        = link_to t(:header_cta), void, class: 'button js-contact-button'

  %section
    .wrap
      = image_tag 'bio_image.png', class: 'bio-image'
      %h2= t :about_title
      .emdash-gold
      %p= t :about_description
